body{
  text-align: center;
/*  background: -moz-radial-gradient(center, ellipse cover, #b4e391 0%, #61c419 50%, #b4e391 100%); /* FF3.6-15 */
/*background: -webkit-radial-gradient(center, ellipse cover, #b4e391 0%,#61c419 50%,#b4e391 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center, orange 0%,#61c419 50%,blue 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}

h1 {
  font-size: 40px;
  font-family: 'Bungee Outline', cursive;
  color:darkblue;
  border-bottom: 1px ridge blue;

  }

h1:hover {
  color: white;
}

/* code for my picture(bouncing)*/
.myself {
	animation: myself 5s ease-in-out infinite;
	height: 150px;
	width: 150px;
  position: absolute;
  top: 20px;
  left: 560px;
}
.myself:after {
	animation: myself_shadow 5s ease-in-out infinite;
	background: blue;
	content: '';
	height: 5px;
	width: 420px;
	opacity: 0.5;
	position: absolute;
	left: -60px;
	bottom: -25px;
  transform: scale(.7);
}
@keyframes myself {
	50% { transform: translateY(-20px); }
}
@keyframes myself_shadow {
	50% { transform: translateY(20px) scale(1); opacity:.05; }
}


/* code for my picture(bouncing)*/
.middle {
  position: absolute;
  top: 250px;
  left: 240px;
}

.info:link, .info:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 170px;
    height:190px;
    border-radius: 110px;
    border: 6px double pink;
    font-family: sans-serif;
    font-size: 20px;
}


.info:hover, .info:active {
    background-color: green;
    font-size: 40px;
    font-family: 'Fontdiner Swanky', cursive;

}

li {
  display: inline-block;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  line-height: 190px;
}

nav {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 650px;
  left: 700px;

}

.face {
  background-image: url(img/facebook.png);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-size: contain;
}
.twit {
  background-image: url(img/twitter.png);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-size: contain;
}

.face, .twit {
  border: 5px ridge orange;

}
